.customer-display {
  display: grid;
  grid-template-columns: 50px repeat(4, 1fr);
  grid-gap: 10px;
  padding: 5px 2px;
  &:nth-child(2n+1) {
    background: var(--grey100);
  }
}

.header {
  font-weight: var(--bold-font-weight);
  border-bottom: 1px solid var(--grey200);
  margin-bottom: 1px;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}
