$font: (
  font-family: "'Oswald', sans-serif",
  font-size: 18px,
  body-font-weight: 300,
  bold-font-weight: 500,
);

$spacer: (
  app-spacer: 36px,
);

$color: (
  grey100: #dfdfdf,
  grey200: #d0d0d0,
);

:root {
  @each $name, $value in $font {
    --#{$name}: #{$value};
  }
  @each $name, $value in $spacer {
    --#{$name}: #{$value};
  }
  @each $name, $value in $color {
    --#{$name}: #{$value};
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font: {
    family: var(--font-family);
    size: var(--font-size);
    weight: var(--body-font-weight);
  }
}

.root {
  display: grid;
  grid-template-columns: 350px auto;
  grid-template-rows: 70px auto 50px;
  height: 100%;
  overflow: hidden;
}

app-header {
  grid-column: 1 / -1;
}

input {
  padding: 5px 10px;
  width: 100%;
  border: 0;
  border-bottom: 1px solid var(--grey100);
  font: {
    family: inherit;
    size: inherit;
    weight: inherit;
  }
}

button {
  background: #343434;
  border-radius: 5px;
  border: 0;
  box-shadow: #989898 0px 0px 0px 2px,
              #404040 0px 0px 0px 3px;
  color: #fff;
  padding: 10px 20px;
}
